/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

html, body {
    font-family: 'Roboto', sans-serif;
    height: auto;
}

article {
    display: block;
    height: 54.4vw;
    width: 100vw;
    background: #fff url(../assets/burger-friends.jpg) 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-size: 1.75vw;
}

h4 {
    font-size: 2vw;
    margin: 1vw 0;
    font-weight: 600;
    line-height: 2.5vw;
    position: relative;
}

h4  > span {
    position: absolute;
    color: #ee5253;
    top:-.7vw;
    right: -1.45vw;
}

header {
    height: 8.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0fb9b1;
    padding: 0 1.3%;
}

button {
    font-size: 1.2vw;
    border: none;
    border-radius: 0.4vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    line-height: 2.345vw;
}

main {
    padding: 3.5% 2%;
    height: 91.7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

section {
    display: flex;
    padding: 3%;
    height: 66.5%;
    width: 36.9%;
    background: rgba(225, 225, 225, .9);
}

section label, aside label {
    font-size: 1.5vw;
    line-height: 220%;
}

section input[type=radio] {
    border: 0;
    width: 8%;
    height: .95vw;
}

section:first-child {
    align-items: center;
}

section:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:nth-child(2) > em {
    font-weight: 600;
    font-size: 1.35vw;
}

section:nth-child(2) > span {
    font-size: 3.11vw;
    font-weight: 600;
    color: #161616;
}

section:nth-child(2) > p {
    font-size: 1.8vw;
    font-weight: 600;
    color: #161616;
}

section > img {
    height: auto;
    width: 29%;
}

section:nth-child(2) > button{
    width: 5.9vw;
    position: absolute;
    bottom: 1.7vw;
    right: 1.7vw;
    background: #95a5a6;
    color: rgba(255, 255, 255, 0.9);
}

section > form > button[type=submit] {
    margin-top: 2%;
    width: 60%;
}

button[type=submit] {
    background: #0fb9b1;
}

button:focus, button:active {
    /*box-shadow: 0 0 3pt 2pt cornflowerblue;*/
    box-shadow: 0 0 2pt 1pt #3f7cce;
}

aside {
    height: 11.5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(225, 225, 225, .9);
}

aside > form {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

aside label {
    margin-right: .6vw;
    font-size: 1.39vw;
    font-weight: 500;
}

aside > form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside > form > button {
    margin-right: 46%;
}

aside input[type=text] {
    height: 2.8vw;
    width: 11.9vw;
}