/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

html, body {
    font-family: 'Roboto', sans-serif;
    height: auto;
}

article {
    display: block;
    height: 55vw;
    width: 100vw;
    background: #fff url(../assets/burger-friends.jpg) 0 0 no-repeat;
    background-size: cover;
    /*overflow: hidden;*/
}

h1 {
    font-size: 1.75vw;
}

h4 {
    font-size: 2vw;
    margin: 1vw 0;
    font-weight: 600;
    line-height: 2.5vw;
    position: relative;
}

h4  > span {
    position: absolute;
    color: #ee5253;
    top:-.7vw;
    right: -1.45vw;
}

header {
    height: 8.38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0fb9b1;
    padding: 0 1.5%;
}

main {
    padding: 3.6vw 2.1vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


section {
    display: flex;
    padding: 3%;
    height: 59.5%;
    width: 36.9%;
    background: rgba(225, 225, 225, .9);
}

section label {
    font-size: 1.5vw;
    line-height: 220%;
}

section input[type=radio] {
    border: 0;
    width: 8%;
    height: .95vw;
}

section:first-child {
    align-items: center;
}

section:last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:last-child > em {
    font-weight: 600;
    font-size: 1.35vw;
}

section:last-child > span {
    font-size: 3.11vw;
    font-weight: 600;
    color: #161616;
}

section:last-child > p {
    font-size: 1.8vw;
    font-weight: 600;
    color: #161616;
    /*letter-spacing: 0.01vw;*/
}

section > img {
    height: auto;
    width: 29%;
}

button {
    font-size: 1.0558vw;
    border: none;
    border-radius: 0.4vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    line-height: 2.345vw;
}

section:last-child > button{
    /*visibility: hidden;*/
    width: 5.9vw;
    position: absolute;
    bottom: 1.7vw;
    right: 1.7vw;
    background: #95a5a6;
    color: rgba(255, 255, 255, 0.9);
}

button[type=submit] {
    margin-top: 2%;
    background: #0fb9b1;
    width: 60%;
}

button:focus, button:active {
    /*outline: 1px solid #3f7cce;*/
    /*box-shadow: 0 0 3pt 2pt cornflowerblue;*/
    box-shadow: 0 0 2pt 1pt #3f7cce;
}