.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-c);
  &__img {
    width: 20%;
    clip-path: polygon(66% 86%, 65% 78%, 64% 71%, 61% 75%, 56% 80%, 51% 83%, 46% 85%, 38% 86%, 30% 84%, 23% 80%, 22% 88%, 21% 92%, 19% 93%, 12% 89%, 8% 83%, 9% 79%, 13% 70%, 7% 58%, 4% 47%, 4% 41%, 6% 42%, 10% 39%, 15% 33%, 23% 23%, 30% 17%, 34% 15%, 38% 14%, 46% 15%, 55% 19%, 60% 25%, 70% 36%, 74% 38%, 75% 33%, 78% 21%, 81% 14%, 84% 11%, 88% 10%, 93% 12%, 96% 19%, 97% 24%, 98% 33%, 97% 39%, 96% 42%, 96% 44%, 93% 48%, 88% 53%, 83% 57%, 78% 59%, 74% 59%, 71% 60%, 76% 69%, 80% 78%, 77% 83%, 68% 89%);
  }
  &__title {
    font-size: 45px;
  }
  &__space-holder {
    width: 20%;
  }
}