.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--green);

  &__title {
    color: var(--spot-correct);
  }

  &__text {
    //color: var(--teal-light);
    color: var(--text-dark);
  }

  &__time {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--spot-correct);
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }
}
