.bio {
  @import "table";

  &__table {
    display: flex;
    justify-content: space-between;
    text-overflow: unset;
    border-radius: 1em;
  }
  &__title {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  &__row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__tbody {
    overflow: hidden;
    flex-basis: 100%;
  }

  &__name {

  }
  &__address {

  }
  &__email {

  }
  &__stride {

  }
  &__goal {
  }
  &__friends {

  }

}