/*region----------------------------------- Search Section ------------------------------*/
@import "searchSection";
/*endregion----------------------------------- Search Section ------------------------------*/

/*region------------------------ Section Recipes ------------------*/
@import "cards";
/*endregion--------------------- Section Recipes ---------------*/

/*region-----------------------------popup----------------------*/
@import "popup";
/*endregion----------------------------popup----------------------*/

.main {
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40%;
    padding: .8vw;
    background-color: #eeeefc;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 70%;
  }
}

