@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "reset";
@import "variables";

html, body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/*body > img {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  left: 0;
}*/

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1vw;
}

#burger-toggle {
  opacity: 0;
  display: none;
}

/*region------------------------------header-------------------*/
@import "header";
/*endregion------------------------------header------------------*/

/*region------------------------footer------------------------------*/
@import "footer";
/*endregion----------------------footer--------------------------------*/

/*region------------------------main-------------------------------------*/
.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: lavender;
}

@import "main";
/*endregion----------------------------main---------------------------------------*/

/*region------------------------------ #checkboxes ---------------------------------*/
@import "aside";
/*endregion------------------------------ checkboxes ---------------------------------*/

/*region------------------------media---------------------------------------------------*/
/*region Extra small devices (phones, 599px and down) */
@mixin index--exSm() {
  .main-footer-wrapper {
    min-height: 100%;
    padding: 3em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper {
    overflow-y: auto;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container {
    max-width: none;
  }

  #burger-toggle:checked ~ .main-footer-wrapper {
    max-width: 100%;
    box-sizing: border-box;
  }
}
/*endregion Extra small devices (phones, 599px and down) */

/*region Small devices (portrait tablets and large phones, 600px and up) */
@mixin index--sm() {
  .container {
    max-width: 95vw;
  }

  .main-footer-wrapper {
    padding: 4vw 0 0 0;
  }
}

/*endregion Small devices (portrait tablets and large phones, 600px and up) */

/*region Medium devices (landscape tablets, 900px and up) */
@mixin index--md() {
  .main-footer-wrapper {
    padding: 3.5vw 0 0 0;
  }
}
/*endregion Medium devices (landscape tablets, 900px and up) */

/*region Large devices (laptops/desktops, 1200px and up) */
@mixin index--lg() {
  .main-footer-wrapper {
    padding: 3vw 0 0 0;
  }
}
/*endregion Large devices (laptops/desktops, 1200px and up) */

/*region Extra large devices (large desktops, 1800px and up) */
@mixin index--exLg() {

}
/*endregion Extra large devices (large desktops, 1800px and up) */

@import "media-queries";

/*endregion-------------------------------media----------------------------------------------*/
