/*region ----------------- fonts --------------------*/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: local('Lato'),
    local('Lato-Regular'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: local('Lato'),
    local('Lato-Bold'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*endregion ----------------- fonts --------------------*/
html, body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    font-size: calc((100vw - 320px) / ((1920 - 320) / (22 - 9)) + 9px);
}

body > img {
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    padding: 0 1.01em 0 1.03em;
}

/*region ----------------- header ----------------------------*/
.header {
    position: fixed;
    width: 100%;
    padding: .9em .6em 2.3em .4em;
    z-index: 1;
}

.header-dark:before {
    background: #2b2b2b;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

.header__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header__burger {
    display: none;
}

.header__menu {
    width: 42.1%;
}

.header__list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    height: 100%;
    z-index: 2;
}

#header__toggle {
    opacity: 0;
    display: none;
}

.header__link {
    font-size: 1.05em;
    padding-left: 1.6em;
    position: relative;
    z-index: 1;
}

.header__link-blue {
    font-weight: 400;
    font-size: .89em;
    color: #26b6fc;
    align-self: center;
    padding: 0 1.6em;
    /*text-transform: uppercase;*/
}

.header__link::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: -.1em;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.share::before {
    font-family: 'Material Icons';
    content: 'share';
}

.playlists::before {
    font-family: 'Material Icons';
    content: 'format_list_bulleted';
    color: #26b6fc;
}

.personal::before {
    font-family: 'Material Icons';
    content: 'person_outline';
    color: #26b6fc;
}

.account_circle::before {
    font-family: 'Material Icons';
    content: 'account_circle';
    color: #ffffff;
}

.panorama_fish_eye::before {
    font-family: 'Material Icons';
    content: 'panorama_fish_eye';
    color: #ffffff;
    font-size: 2.3em;
    left: -.45em;
}

.person_outline::after {
    position: absolute;
    font-family: 'Material Icons';
    left: -.45em;
    top: -.3em;
    font-size: 1.7em;
    content: 'person_outline';
    color: #ffffff;
}

.arrow_drop_down::before {
    position: absolute;
    font-family: 'Material Icons';
    content: 'play_arrow';
    color: #26b6fc;

    font-size: 1.6em;
    display: inline-block;
    top: 50%;
    right: -.1em;

    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.header__link-selected {
    color: #ffffff;
}

.header__link-unselected {
    color: #9b9b9b;
}

.header__aside {
    padding: .2em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 6em;
}

.header__logo {
    position: relative;
    width: 9.8em;
    z-index: 1;
}

/*endregion ----------------- header ----------------------------*/

.main-light {
    background: #efefef;
    min-height: 100vh;
    width: 100%;
    padding: 9.2em 0 0 0;
}

.container-img-sec {
    padding-right: 1.9em;
}

.title {
    font-size: 2.25em;
    line-height: 1.15em;
    padding: 1em 0 .9em 0;
    color: #4d4d4d;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    grid-column-gap: .68em;
    grid-row-gap: .7em;
}

.card {
    box-shadow: 0 0 5px 0 #b7b7b7;
}

.card__img-section {
    width: 100%;
    height: 9em;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.card__img {
    width: 102%;
    height: 124%;
    right: 0;
    object-fit: cover;
    filter: brightness(50%);
}

.card__img:hover {
    filter: brightness(100%);
}

.card__link {
    font-family: 'Material Icons';
    border: 1px solid #ffffff;
    position: absolute;
    background: #ffffff;

    top: 9%;
    left: 6%;
    width: 1.9em;
    height: 1.9em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 2em;
}

.card__link:after {
    color: #4e4e4e;
    position: absolute;
    top: 47%;
    left: 50%;
    content: 'reply';
    font-size: 1.1em;

    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(-1);
    -moz-transform: translateX(-50%) translateY(-50%) scaleX(-1);
    -ms-transform: translateX(-50%) translateY(-50%) scaleX(-1);
    -o-transform: translateX(-50%) translateY(-50%) scaleX(-1);
    transform: translateX(-50%) translateY(-50%) scaleX(-1);
}

.card__views-info {
    color: #ffffff;
}

.card__views-title {
    position: absolute;
    top: 9.5%;
    right: 7%;
    font-size: .7em;
}

.card__num {
    font-size: 1.85em;
}

.card__num-views {
    position: absolute;
    top: 20%;
    right: 7%;
}

.card__body {
    height: 16em;
    background: #ffffff;
    color: #4f4f4f;
    padding: .9em 1.3em 1.25em 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__bio {
    font-size: .85em;
    font-weight: 400;
    line-height: 1.3em;
    padding-bottom: .3em;
}

.card__name {
    font-weight: 400;
}

.card__data {
    font-size: .9em;
    opacity: .5;
}

.card__rec {
    background: #efefef;
    height: 3.2em;
    padding: .39em .5em;
}

.card__rec-link {
    font-size: .76em;
    line-height: 1.25em;
    max-width: 220px;
    /*need eng lang for true dictionary*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: keep-all;
    opacity: .7;
    font-weight: 700;
}

.card__playlist {
    padding-left: .15em;
}

.card__subtitle {
    line-height: 1.7em;
    font-size: .68em;
}

.card__playlist-name {
}

.card__attach {
    padding-left: .1em;
}

.card__num-blue {
    color: #28b5fd;
}

/*region-------------------------burger-image-------------------------*/
.header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: .4vw;
    left: 0;
    transition: all .3s ease 0s;
}

.header__burger:before {
    top: 0;
}

.header__burger:after {
    bottom: 0;
}

.header__burger > span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: .4vw;
    top: 1.8vw;
    transition: all .3s ease 0s;
}

/*endregion-------------------------burger-image-------------------------*/
/*region-------------------burger-label-checked-----------------------*/
input[type=checkbox]:checked ~ .header .header__burger > span {
    /*input[type=checkbox]:checked ~ .header__burger > span {*/
    transform: scale(0);
}

input[type=checkbox]:checked ~ .header .header__burger:before {
    /*input[type=checkbox]:checked ~ .header__burger:before {*/
    transform: rotate(45deg);
    top: 1.8vw;
}

input[type=checkbox]:checked ~ .header .header__burger:after {
    /*input[type=checkbox]:checked ~ .header__burger:after {*/
    transform: rotate(-45deg);
    bottom: 1.8vw;
}

input[type=checkbox]:checked ~ .header .header__menu {
    /*input[type=checkbox]:checked ~ .header__menu {*/
    top: 0;
    overflow: auto;
}

/*endregion-------------------burger-label-checked---------------------*/


/*region------------------------media-------------------------------------*/

/* Extra small devices (phones, 599px and down) */
/*@media only screen and (max-width: 599px) {*/
@media only screen and (max-width: 899px) {
    .main-light {
        min-height: 100%;
    }

    .wrapper {
        overflow-y: auto;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .container {
        max-width: none;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 6vw;
        height: 4vw;
        z-index: 1;
    }

    .header__list {
        flex-direction: column;
        justify-content: start;
        line-height: 4em;
    }

    /*region-----------------------start-menu-position-as-hidden----------------------*/
    .header__menu {
        position: fixed;
        display: flex;
        top: -300%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        transition: all .3s ease 0s;
        padding: 10em 2em 4em;
    }

    /*endregion-----------------------start-menu-position-----------------------*/

    .grid-container {
        grid-column-gap: .6em;
        grid-row-gap: 2em;
    }

    .card {
        font-size: 1.7em;
    }

    .card__img-section {
        width: 100%;
        height: 12em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large desktops, 1800px and up) */
@media only screen and (min-width: 1800px) {
}

/*endregion-------------------------------media----------------------------------------------*/