.key-section {
  padding: 0 25px 25px;
  text-align: center;

  &__key {
    color: var(--text-c);
  }

  .correct-location-key {
    color: var(--fourth-c);
  }

  .wrong-location-key {
    color: var(--spot-wrong);
  }

  .wrong-key {
    color: var(--fifth-c);
  }
}