.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__btn {
    margin-top: 10px;
    width: 200px;
    color: var(--third-c);
    background-color: var(--second-c);
    //color: var(--nav-btn-c);
    //background-color: var(--nav-bg-c);
    letter-spacing: 2px;

    &:hover {
      background-color: var(--third-c);
      color: var(--second-c);
      //--nav-btn-c: var(--nav-btn-c-hov);
      //--nav-bg-c: var(--nav-bg-c-hov);
    }
  }

  .active {
    color: var(--second-c);
    background-color: var(--fourth-c);
    //--nav-btn-c: var(--nav-btn-c-act);
    //--nav-bg-c: var(--nav-bg-c-act);
  }
}