.example-text {
  margin-top: 75px;

  &__correct-location, &__wrong-location, &__wrong {
    font-size: 35px;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--text-c);
  }

  &__correct-location {
    background-color: var(--fourth-c);
  }

  &__wrong-location {
    background-color: var(--spot-wrong);
  }

  &__wrong {
    background-color: var(--fifth-c);
  }
}