.sidenav {
  &__list {
    display: grid;
    grid-template-columns: 250px;
    grid-gap: .5em;
  }
  &__item {
    display: flex;
    background: hsla(150, 96%, 90%, .2);
  }
  &__link {
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
  }
}

/*.sidenav__list {
  display: grid;
  grid-template-columns: 250px;
  grid-gap: .5em;
}*/

/*&__item {
  display: flex;
  background: hsla(150, 96%, 90%, .2);
}
&__link {
  white-space: nowrap;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}*/
