table {
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    min-width: 33vw;
    background: hsla(0, 16%, 78%, .3);
    color: hsla(0, 75%, 3%, 1);
  }

  thead {
  }

  caption {
  }

  tbody {
  }

  h2 {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  th {
    margin: .5em;
    padding: 1em;
    background: hsla(229, 96%, 90%, .2);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  tr {
  }

  td {
    overflow: hidden;
    max-width: 200px;
    margin: .5em;
    padding: 1em .5em;
    background: hsla(129, 96%, 90%, .2) 0 100% repeat;
    max-height: 12%;
  }

  td > span {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
  }
